<nav class="navbar navbar-dark bg-green">
    <a href="#" class="navbar">
        <img src="assets/images/lizardLogo.PNG" width="90" height="60" class="d-inline-block align-center"
            alt="lizard logo"> Flashcards
    </a>
    <a href="index"><button class="btn btn-outline-light my-2 my-sm-0" id="homeButton">Home</button></a>
</nav>

<!-- /.container-fluid -->
<div class="container-fluid">
    <div class="col-xs text-center">
        <div class="accordion" id="accordionExample">
            {{#each Terms}}
            <div class="card">
                <div class="card-header" id="headingOne{{@index}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#collapseOne{{@index}}" aria-expanded="true"
                            aria-controls="collapseOne{{@index}}">
                            {{term}}
                        </button>
                    </h2>
                </div>

                <div id="collapseOne{{@index}}" class="collapse" aria-labelledby="headingOne{{@index}}"
                    data-parent="#accordionExample">
                    <div class="card-body">
                        {{definition}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>